.main-container {
  display: flex;
}

main {
  flex: 2;
}

section {
  flex: 1;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.item {
  background: white;
  border: black solid 1px;
  padding: 1rem;
  flex: 1;
  margin: 0 0.75rem 1.5rem;
  align-items: baseline;
  min-height: 275px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container:first-child {
  margin: 1;
}

.first {
  background-image: url("pictures/chirayu-trivedi-pTb54lkyuNQ-unsplash.jpg");
}

.desktop {
  background-image: url("pictures/green-leaf-plant-in-white-flower-pot-1022923.jpg");
}

.insights {
  background-image: url("pictures/isaac-benhesed-onLbXleIkds-unsplash.jpg");
  background-size: 300%;
}

.background {
  background-image: url("pictures/work.jpg");
}

.iphone {
  background-image: url("pictures/Black\ Circle\ with\ Utensils\ Restaurant\ Logo\ \(4\).png");
}

.handshake {
  background-image: url("./pictures/handshake_br.png");
}

.first-block {
  background-image: url("./pictures/izabelle-acheson-6JQZGqgJLkM-unsplash.jpg");
}

.bottom-content {
  margin-top: auto;
}

.align {
  margin-right: 30em;
}

.button {
  display: inline-block;
  padding: 9px 30px 9px 30px;
  background: black;
  text-decoration: none;
  color: white;
  border-radius: 1px;
  border: 1px solid black;
  cursor: pointer;
  transition: 0.3s;
}
.button:hover {
  opacity: 0.8;
}

.font {
  font: 16px/22px "FortExtraBold", Arial, sans-serif;
}

.form {
  background: #efefef;
}

.form-position {
  margin-right: 10rem;
}

label {
  margin-bottom: 10px;
  display: block;
}

input[type="text"],
select {
  width: 150%;
  padding: 8px 12px;
  margin-top: 7px;
}

.formbtn {
  margin-top: 1rem;
  font-size: 16px;
  height: 42px;
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
  }
}